doctype html
html
  head
    base(href="/")
    title Мартин Лютер Кинг - IQChannels
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    style(type="text/css").
      html {
        width: 100%;
        height: 100%;
      }

      body {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
      }

      iframe {
        border: 0;
        width: 100%;
        height: 100%;
      }

  body
    iframe(src="https://metallinvestbank.ru")
