doctype html
html
  head
    base(href="/")
    title Дмитрий Менделеев - IQChannels
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width, initial-scale=1")

    style(type="text/css").
      html {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      body {
        padding: 1em;
        width: 100%;
        height: 100%;
      }

      iframe {
        border: 0;
        width: 100%;
        height: 100%;
      }

  body
    h1
      a(href="widget/example.html", style="text-decoration: none") Чаты
      span(style="opacity: 0.5") &nbsp;/&nbsp; Дмитрий Менделеев (mobile)

    p Режим mobile

    p
      iframe(id="iqchannels-app-iframe",
        src="http://localhost:3000",
        style="height: 700px; width: 1250px")

    p
      button(type="button", onclick="widget.open();") Открыть &nbsp;
      button(type="button", onclick="widget.close();") Закрыть &nbsp;
      button(type="button", onclick="widget.refreshClient();") Обновить клиента &nbsp;
      button(type="button", onclick="widget.logout();") Выйти &nbsp;
      button(type="button", onclick="widget.destroy();") Уничтожить
