doctype html
html
  head
    base(href="/")
    title Альфред Хичкок - IQChannels
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width, initial-scale=1")

    style(type="text/css").
      html {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      body {
        padding-left: 10px;
      }

      iframe {
        border: 0;
        width: 100%;
        height: 100%;
      }
      #unread_count {
        font-size: 24pt;
        font-weight: 700;
      }

  body
    h1
      a(href="widget/example.html", style="text-decoration: none") Чаты
      span(style="opacity: 0.5") &nbsp;/&nbsp;Альфред Хичкок

    p
      button(type="button", onclick="widget.open();") Открыть
      span &nbsp;
      button(type="button", onclick="widget.close();") Закрыть
      span &nbsp;
      button(type="button", onclick="widget.logout();") Выйти
      span &nbsp;
      button(type="button", onclick="widget.destroy();") Уничтожить

      br
      span Количество непрочитанных (обновляется само):
      span(id="unread_count")
