//@import "custom";

:root {
  --color-after-scroll-animation_client: rgba(69, 107, 132, 0.15);
  --color-after-scroll-animation_user: rgba(225, 225, 225, 0.60);
  overflow: hidden;
}

body {
  background-color: #fcfcfc;
  color: #666666;
  font-family: sans-serif;
}

// Scrollbar styles

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 0;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: rgba(47, 64, 80, 0.2);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(47, 64, 80, 0.1);
}

// Placeholders

::-webkit-input-placeholder {
  color: #9f9f9f;
  opacity:  1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #9f9f9f;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #9f9f9f;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #9f9f9f;
}

.full-screen {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  .center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 8px 0 8px;
  }
}

a {
  word-break: break-all;
}

.small {
  font-size: 0.875rem;
}

.app-error {
  padding: 0 35px;
  display: flex;
  flex-flow: column;
  align-items: center;

  b {
    margin-top: 10px;
    font-size: 1.125rem;
  }
  span {
    margin-top: 6px;
  }
}

a.iqchannels-chat-link {
  color: #0000EE; /* Синий цвет */
  text-decoration: underline; /* Подчеркивание */
  background-color: transparent; /* Прозрачный фон */
  cursor: pointer; /* Рука-указатель */
}

a.iqchannels-chat-link:visited {
  color: #551A8B; /* Фиолетовый цвет */
}

a.iqchannels-chat-link:hover {
  color: #FF0000; /* Красный цвет при наведении */
}

a.iqchannels-chat-link:active {
  color: #FF0000; /* Красный цвет при клике */
}
