doctype html
html
    head
        base(href="/")
        title IQChannels Widget
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        script.
          const widget = new IQChannelsWidget({
            channel: 'support'
          });
    body
        #app
