doctype html
html
    head
        base(href="/")
        title Виджет - IQChannels
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width, initial-scale=1")

    body.example
        button(onclick="w.toggle()") Открыть/Закрыть
        p.
          Пример встроенного виджета Пример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджета
        p.
          Пример встроенного виджета Пример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджета
        p.
          Пример встроенного виджета Пример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджета
        p.
          Пример встроенного виджета Пример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджета
        p.
          Пример встроенного виджета Пример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджета
        p.
          Пример встроенного виджета Пример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджета
        p.
          Пример встроенного виджета Пример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджета
        p.
          Пример встроенного виджета Пример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджета
        p.
          Пример встроенного виджета Пример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджета
        p.
          Пример встроенного виджета Пример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджета
        p.
          Пример встроенного виджета Пример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджета
        p.
          Пример встроенного виджета Пример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджета
        p.
          Пример встроенного виджета Пример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного
          виджетаПример встроенного виджетаПример встроенного виджетаПример встроенного виджета
